.back {
    background: #ffe4fb;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
    border-radius: 15px;
  }
  
  div.content {
    display: table-cell;
    vertical-align: middle;
  }

  h1, h2, h3 {
    color:rgb(234, 121, 202) !Important;
    margin-bottom: 30px !important;
  }

  h1{
    font-weight: bolder !important;
  }

  ul {
    list-style-type: none;
  }

  input[type=text], #cursoprofessorlista, #alunomatriculalista, #cursomatriculalista{
    height: 25px;
    width: 300px;
    margin-bottom: 10px;
    float: right;
    clear:both
  }

  label{
    margin-bottom: 20px;
  }

  input[type=submit]{
    float: right;
    margin-top: 10px;
  }

  #msgsucesso{
    color: rgb(99, 152, 100);
  }

  tr:nth-child(even) {
    background-color:  rgb(253, 222, 246);
    
}